*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 2s all;
}
body
{
  margin: 0;
  padding: 0;
  /* background: url(./img/Arena\ Art\ -\ Naruto_\ Rise\ of\ a\ Ninja\ Art\ Gallery.jpeg); */
  background: url(./img/background.jpeg);
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
#container
{
  width: 460px;
  margin: auto;
  /* padding-top: 5pc; */
  /* background: black; */
  margin-top: 5pc;
  
}
#container img
{
  height: 150px;
  width: 110px; /* 600 = 150px x 4 */
  box-shadow: 2px  2px 5px black;
  z-index: 1000;
  padding-left: 5px;
  transition:  transform 0.6s;
  transform-style: preserve-3d;
}
#container:hover #container img {
  transform: rotateY(180deg);
}
#play,
#pause {
	float: left;
	width: 40px;
  margin-top: -1.4pc;
  margin-left: 1pc;
}
#play:hover,
#pause:hover {
	cursor: pointer;
}
#pause {
	display: none;
}
p
{
  color: white;
}
p
{
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-top: 1pc;
  padding-left: 0.5pc;
  font-size: 0.7rem;

}